Source: ros-jazzy-qrb-ros-audio-service
Section: misc
Priority: optional
Maintainer: yuchpan <quic_yuchpan@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-rclcpp-components, qrb-audio-manager-dev, ros-jazzy-qrb-ros-audio-common-msgs, ros-jazzy-qrb-ros-audio-service-msgs
Homepage: https://github.com/qualcomm-qrb-ros/qrb_ros_audio_service
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-ros-audio-service
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-rclcpp-components, qrb-audio-manager, ros-jazzy-qrb-ros-audio-common-msgs, ros-jazzy-qrb-ros-audio-service-msgs, ros-jazzy-qrb-ros-audio-common
Description: QRB ROS Audio Service
